version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "auto-update"
    commit-message:
      prefix: "chore(deps)"
    reviewers:
      - "teamovomonie-coder"
