
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are insecure and are for development purposes only.
    // They allow anyone to read and write to your entire database.
    // You MUST secure these rules before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
