
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read and write access to all files
    // for development purposes.
    // WARNING: This is not secure for production.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
