@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 220 50% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 215 100% 15%;
    --primary-foreground: 210 20% 98%;
    --primary-light-bg: 220 48% 88%;
    --secondary: 220 15% 96%;
    --secondary-foreground: 224 71% 4%;
    --muted: 220 15% 96%;
    --muted-foreground: 220 9% 45%;
    --accent: 220 15% 94%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 217 91% 60%;
    --chart-1: 215 100% 15%;
    --chart-2: 217 91% 60%;
    --chart-3: 217 91% 70%;
    --chart-4: 217 91% 80%;
    --chart-5: 217 91% 90%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 224 71% 4%;
    --primary-light-bg: 215 28% 17%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 217.2 91.2% 59.8%;
    --chart-1: 217.2 91.2% 59.8%;
    --chart-2: 210 20% 98%;
    --chart-3: 215 20% 65%;
    --chart-4: 224 71% 4%;
    --chart-5: 210 40% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animated-gradient-bg {
    background: linear-gradient(-45deg, hsl(215, 60%, 96%), hsl(220, 60%, 97%), hsl(210, 60%, 98%), hsl(220, 60%, 97%));
    background-size: 400% 400%;
    animation: wave 15s ease infinite;
  }
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
